# Indiana High School Graduation Rates Study

This study digs into the graduation rates in Indiana high schools by separating out those students who received diplomas verses those who received waivers. We'll examine the relationships between diploma rates and federal school grade; diploma rates and school size; diploma rates and school attendance; and any trends and outliers that appear in the data.

In [1]:
#Dependencies
import pandas as pd

In [2]:
# Save file path to csv file with overall school scores from state of IN. 
path_school_score = ('Resources/school_scores.csv')
# Save file path to csv file with individual school grading info from state of IN. 
path_school_grading = ('Resources/school_grading.csv')

## Indiana school score letter grades

In [4]:
# read school score csv file.
school_scores = pd.read_csv(path_school_score)
school_scores.head()

   Corp ID                    Corporation Name 2016-17 Grade 2015-16 Grade
0       15     Adams Central Community Schools             B             B
1       25       North Adams Community Schools             B             B
2       35                 South Adams Schools             A             B
3      125  M S D Southwest Allen County Schls             A             B
4      225      Northwest Allen County Schools             A             B

## Indiana school score details

In [5]:
# read school grading csv file.
school_grading = pd.read_csv(path_school_grading)
school_grading.head()

,Corp,Corp Name,Performance Points\n (3-8),Performance Weight\n (3-8),Growth Points\n (4-8),Growth Weight\n (4-8),Performance Points\n (10),Performance Weight\n (10),Growth Points\n (10-12),Growth Weight\n (10-12),Mult. Measures Points\n (12),Mult. Measures Weight\n (12),Overall Points,Overall Grade
0,15,Adams Central Community Schools,70.8,0.302,96.7,0.302,46.4,0.079,115.5,0.079,100.6,0.237,87.2,B
1,25,North Adams Community Schools,53.6,0.252,106.1,0.252,64.7,0.099,116.5,0.099,95.0,0.297,86.4,B
2,35,South Adams Schools,68.8,0.308,109.6,0.308,62.2,0.077,96.9,0.077,100.0,0.231,90.3,A
3,125,M S D Southwest Allen County Schls,75.0,0.293,105.7,0.293,68.2,0.083,116.9,0.083,100.4,0.249,93.3,A
4,235,Fort Wayne Community Schools,51.3,0.305,95.5,0.305,37.7,0.078,94.4,0.078,95.0,0.234,77.3,C