# Indiana High School Graduation Rates Study

This study digs into the graduation rates in Indiana high schools by separating out those students who received diplomas verses those who received waivers. We'll examine the relationships between diploma rates and federal school grade; diploma rates and school size; diploma rates and school attendance; and any trends and outliers that appear in the data.

In [2]:
#Dependencies
import pandas as pd

In [13]:
# Read csv files with school scores from state of IN 2015, 2016, 2017, 2018, and2019. 
school_grade2015 = pd.read_csv('Resources/A-F_IN_school_grades2015.csv')
school_grade2016 = pd.read_csv('Resources/A-F_IN_school_grades2016.csv')
school_grade2017 = pd.read_csv('Resources/A-F_IN_school_grades2017.csv')
school_grade2018 = pd.read_csv('Resources/A-F_IN_school_grades2018.csv')
school_grade2019 = pd.read_csv('Resources/A-F_IN_school_grades2019.csv')
school_grade2015.head()

,Corp ID,Corp name,Sch ID,School Name,County,Model,Sub_EMS_Model,Sub_HS_Model,Commission Category,Choice,Sch Grade 2015,Sch Grade 2014,Sch Grade 2013,Sch Grade 2012,Sch Grade 2011,Sch Grade 2010,Sch Grade 2008,Sch Grade 2007,Sch Grade 2006,Sch Grade 2005
0,15,Adams Central Community Schools,0013,Adams Central Middle School,Adams,EMS,NaN,NaN,State Accredited,0,B,B,A,B,B,A,B,A,B,A
1,15,Adams Central Community Schools,0020,Adams Central Elementary School,Adams,EMS,NaN,NaN,State Accredited,0,A,A,A,A,A,A,B,A,A,A
2,15,Adams Central Community Schools,0021,Adams Central High School,Adams,HS,NaN,NaN,State Accredited,0,A,A,A,A,A,B,A,A,D,C
3,25,North Adams Community Schools,0029,Bellmont Senior High School,Adams,HS,NaN,NaN,State Accredited,0,B,B,A,A,C,C,B,D,D,D
4,25,North Adams Community Schools,0033,Bellmont Middle School,Adams,EMS,NaN,NaN,State Accredited,0,A,A,B,B,C,C,D,D,D,C

In [11]:
# 2016 only reports letter grade, no explinations
school_grade2016.head()

,IDOE_CORPORATION_ID,CORPORATION_NAME,IDOE_SCHOOL_ID,SCHOOL_NAME,2016 Grade
0,15,Adams Central Community Schools,13,Adams Central Middle School,B
1,15,Adams Central Community Schools,20,Adams Central Elementary School,B
2,15,Adams Central Community Schools,21,Adams Central High School,B
3,25,North Adams Community Schools,29,Bellmont Senior High School,A
4,25,North Adams Community Schools,33,Bellmont Middle School,C

In [15]:
school_grade2015.columns

Index(['Corp ID', 'Corp name', 'Sch ID', 'School Name', 'County', 'Model',
       'Sub_EMS_Model', 'Sub_HS_Model', 'Commission Category', 'Choice',
       'Sch Grade 2015', 'Sch Grade 2014', 'Sch Grade 2013', 'Sch Grade 2012',
       'Sch Grade 2011', 'Sch Grade 2010', 'Sch Grade 2008', 'Sch Grade 2007',
       'Sch Grade 2006', 'Sch Grade 2005'],
      dtype='object')

In [16]:
school_grade2017.columns

Index(['Corp', 'Corp Name', 'Performance Points\n (3-8)',
       'Performance Weight\n (3-8)', 'Growth Points\n (4-8)',
       'Growth Weight\n (4-8)', 'Performance Points\n (10)',
       'Performance Weight\n (10)', 'Growth Points\n (10-12)',
       'Growth Weight\n (10-12)', 'Mult. Measures Points\n (12)',
       'Mult. Measures Weight\n (12)', 'Overall Points', 'Overall Grade'],
      dtype='object')

In [17]:
school_grade2018.columns

Index(['Corp', 'Corp Name', 'School', 'School Name',
       'Performance Points\n (3-8)', 'Performance Weight\n (3-8)',
       'Growth Points\n (4-8)', 'Growth Weight\n (4-8)',
       'Performance Points\n (10)', 'Performance Weight\n (10)',
       'Growth Points\n (10-12)', 'Growth Weight\n (10-12)',
       'Mult. Measures Points\n (12)', 'Mult. Measures Weight\n (12)',
       'Overall Points', 'Overall Grade'],
      dtype='object')

In [18]:
school_grade2019.columns

Index(['Corp', 'Corp Name', 'School', 'School Name',
       '2019 Hold Harmless Grade'],
      dtype='object')

#### Before I clean: What information do we really want to clean from this?