In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
poverty_rate_2019_df = pd.read_csv('Resources/poverty19.csv')
poverty_rate_2018_df = pd.read_csv('Resources/poverty18.csv')
poverty_rate_2017_df = pd.read_csv('Resources/poverty17.csv')
poverty_rate_2016_df = pd.read_csv('Resources/poverty16.csv')
poverty_rate_2015_df = pd.read_csv('Resources/poverty15.csv')

poverty_rate_2015_df.head()

,State Postal Code,State FIPS Code,District ID,Name,Estimated Total Population,Estimated Population 5-17,Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder
0,IN,18,60,Adams Central Community Schools,8930,2475,694
1,IN,18,120,Alexandria Community School Corporation,8658,1493,344
2,IN,18,150,Anderson Community School Corporation,70465,10621,3098
3,IN,18,180,Argos Community Schools,3834,737,93
4,IN,18,210,Attica Consolidated School Corporation,4837,831,143

In [3]:
# school_dist_19 = poverty_rate_2019_df.groupby('Name')
poverty_rate_2019_df['Poverty Rate'] = round(poverty_rate_2019_df['Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder']/poverty_rate_2019_df['Estimated Population 5-17'] * 100, 2)
poverty_rate_2018_df['Poverty Rate'] = round(poverty_rate_2018_df['Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder']/poverty_rate_2018_df['Estimated Population 5-17'] * 100, 2)
poverty_rate_2017_df['Poverty Rate'] = round(poverty_rate_2017_df['Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder']/poverty_rate_2017_df['Estimated Population 5-17'] * 100, 2)
poverty_rate_2016_df['Poverty Rate'] = round(poverty_rate_2016_df['Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder']/poverty_rate_2016_df['Estimated Population 5-17'] * 100, 2)
poverty_rate_2015_df['Poverty Rate'] = round(poverty_rate_2015_df['Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder']/poverty_rate_2015_df['Estimated Population 5-17'] * 100, 2)

columns_to_drop = ['State Postal Code',
                  'State FIPS Code',
                  'District ID',
                  'Estimated Total Population',
                  'Estimated Population 5-17',
                  'Estimated number of relevant children 5 to 17 years old in poverty who are related to the householder']

poverty_rate_2019_df.drop(columns_to_drop, axis=1, inplace=True)
poverty_rate_2018_df.drop(columns_to_drop, axis=1, inplace=True)
poverty_rate_2017_df.drop(columns_to_drop, axis=1, inplace=True)
poverty_rate_2016_df.drop(columns_to_drop, axis=1, inplace=True)
poverty_rate_2015_df.drop(columns_to_drop, axis=1, inplace=True)

In [10]:
combined_poverty_rate = pd.merge(poverty_rate_2019_df, poverty_rate_2018_df,
                                 how='outer', on='Name')
combined_poverty_rate = combined_poverty_rate.rename(columns={
    'Poverty Rate_x' : '2019 Poverty Rate',
    'Poverty Rate_y' : '2018 Poverty Rate'
})

combined_poverty_rate = pd.merge(combined_poverty_rate, poverty_rate_2017_df,
                                 how='outer', on='Name')

combined_poverty_rate = combined_poverty_rate.rename(columns={
    'Poverty Rate' : '2017 Poverty Rate'
})
combined_poverty_rate = pd.merge(combined_poverty_rate, poverty_rate_2016_df,
                                 how='outer', on='Name')

combined_poverty_rate = combined_poverty_rate.rename(columns={
    'Poverty Rate' : '2016 Poverty Rate'
})
combined_poverty_rate = pd.merge(combined_poverty_rate, poverty_rate_2015_df,
                                 how='outer', on='Name')

combined_poverty_rate = combined_poverty_rate.rename(columns={
    'Poverty Rate' : '2015 Poverty Rate'
})
combined_poverty_rate

,Name,2019 Poverty Rate,2018 Poverty Rate,2017 Poverty Rate,2016 Poverty Rate,2015 Poverty Rate
0,Adams Central Community Schools,23.05,24.79,25.90,29.28,28.04
1,Alexandria Community School Corporation,16.63,21.71,26.49,25.34,23.04
2,Anderson Community School Corporation,20.30,27.38,29.95,30.08,29.17
3,Argos Community Schools,15.29,18.99,16.95,15.35,12.62
4,Attica Consolidated School Corporation,16.28,17.85,20.27,16.42,17.21
...,...,...,...,...,...,...
284,White River Valley School District,15.99,16.09,16.22,17.77,16.59
285,Whiting School City,14.69,22.76,20.53,20.98,23.08
286,Whitko Community School Corporation,12.83,13.75,14.87,16.05,14.45
287,Whitley County Consolidated Schools,7.55,7.31,8.16,9.78,9.35
288,Zionsville Community Schools,1.84,1.34,1.83,2.11,2.43