In [1]:
import pandas as pd

In [7]:
poverty_rate_2019 = pd.read_csv('Resources/ACSST1Y2019.csv')
poverty_rate_2018 = pd.read_csv('Resources/ACSST1Y2018.csv')
poverty_rate_2017 = pd.read_csv('Resources/ACSST1Y2017.csv')
poverty_rate_2016 = pd.read_csv('Resources/ACSST1Y2016.csv')
poverty_rate_2015 = pd.read_csv('Resources/ACSST1Y2015.csv')

poverty_rate_2018.head()

,Label,Under 5 years,5 to 17 years,Related children of householder under 18 years
0,"New Albany-Floyd County Consolidated Schools, ...",5.30%,18.00%,13.70%
1,"Penn-Harris-Madison School Corporation, Indian...",3.80%,4.10%,4.00%
2,"Hammond School City, Indiana!!Percent below po...",45.20%,46.10%,45.80%
3,"South Bend Community School Corporation, India...",27.00%,21.70%,23.00%
4,"Hamilton Southeastern Schools, Indiana!!Percen...",6.80%,7.80%,7.00%