In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress

In [28]:
school_demo_df = pd.read_csv("Resources/cleanschooldemographics2015_revised.csv", na_values=['***'])
school_demo_df.head()

,Corp ID,Corporation Name,Native American Cohort Count,Native American Graduates,Native American Grad Rate,Asian Cohort Count,Asian Graduates,Asian Grad Rate,Black Cohort Count,Black Graduates,...,English Language Learner Grad Rate,Female Cohort Count,Female Graduates,Female Grad Rate,Male Cohort Count,Male Graduates,Male Grad Rate,Total Cohort Count,Total Graduates,Total Grad Rate
0,15,Adams Central Community Schools,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,49.0,47.0,95.90%,46.0,43.0,93.50%,95,90,94.70%
1,5265,Alexandria Community School Corporation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,58.0,52.0,89.70%,54.0,46.0,85.20%,112,98,87.50%
2,5275,Anderson Community School Corporation,NaN,NaN,NaN,NaN,NaN,NaN,104.0,93.0,...,NaN,204.0,189.0,92.60%,190.0,164.0,86.30%,394,353,89.60%
3,5470,Argos Community Schools,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,21.0,15.0,71.40%,25.0,19.0,76.00%,46,34,73.90%
4,2435,Attica Consolidated School Corporation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,34.0,34.0,100.00%,34.0,33.0,97.10%,68,67,98.50%

In [38]:
corp_name = school_demo_df['Corporation Name']
num_white = school_demo_df['White Cohort Count']
cohort_total = school_demo_df['Total Cohort Count']
num_non_white = cohort_total - num_white
percent_white = num_white / cohort_total * 100
grad_rate = school_demo_df['Total Grad Rate'].str.replace('%','').astype(np.float64)

condenced_demo = pd.DataFrame({
    'Corporation Name': corp_name,
    'White Students' : num_white,
    'Total Cohort': cohort_total,
    'Percent White': percent_white,
    'Grad Rate': grad_rate
})

condenced_demo.head()

,Corporation Name,White Students,Total Cohort,Percent White,Grad Rate
0,Adams Central Community Schools,91.0,95,95.789474,94.7
1,Alexandria Community School Corporation,106.0,112,94.642857,87.5
2,Anderson Community School Corporation,245.0,394,62.182741,89.6
3,Argos Community Schools,41.0,46,89.130435,73.9
4,Attica Consolidated School Corporation,65.0,68,95.588235,98.5