# Indiana High School Graduation Rates Study

This study digs into the graduation rates in Indiana high schools by separating out those students who received diplomas verses those who received waivers. We'll examine the relationships between diploma rates and federal school grade; diploma rates and school size; diploma rates and school attendance; and any trends and outliers that appear in the data.

In [1]:
#Dependencies
import pandas as pd

In [2]:
# This install is needed for the pd.read_excel to work.
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\hope\anaconda3\envs\pythondata\lib\site-packages (2.0.1)

In [3]:
# Save file path to Excel files
path_poverty = ('Resources/ussd17.xls')
path_in_schools = ('Resources/2017-graduation-rate-04-17-2018-publication (3).csv')

In [4]:
# to read Excel on poverty in US school districts file from census.gov
poverty_df = pd.read_excel(path_poverty)
print (poverty_df.head)

<bound method NDFrame.head of                       Table with column headers in row 3       Unnamed: 1  \
0      2017 Poverty Estimates for School districts   ...              NaN
1                                      State Postal Code  State FIPS Code
2                                                     AL               01
3                                                     AL               01
4                                                     AL               01
...                                                  ...              ...
13220                                                 WY               56
13221                                                 WY               56
13222                                                 WY               56
13223                                                 WY               56
13224                                                 PR               72

        Unnamed: 2                           Unnamed: 3  \
0              NaN                                  NaN
1      District ID                                 Name
2            00190       Alabaster City School District
3            00005     Albertville City School District
4            00030  Alexander City City School District
...            ...                                  ...
13220        06240    Washakie County School District 1
13221        05820    Washakie County School District 2
13222        04830      Weston County School District 1
13223        06090      Weston County School District 7
13224        00030                          Puerto Rico

                       Unnamed: 4                 Unnamed: 5  \
0                             NaN                        NaN
1      Estimated Total Population  Estimated Population 5-17
2                           34015                       6703
3                           21786                       4115
4                           17073                       2659
...                           ...                        ...
13220                        7372                       1382
13221                         692                         96
13222                        5465                        811
13223                        1462                        247
13224                     3337177                     508826

                                              Unnamed: 6
0                                                    NaN
1      Estimated number of relevant children 5 to 17 ...
2                                                    860
3                                                   1546
4                                                    832
...                                                  ...
13220                                                181
13221                                                  4
13222                                                118
13223                                                 12
13224                                             282524

[13225 rows x 7 columns]>

In [5]:
# xlsx file for Indiana High Schools from doe.gov.in was not reading. I saved first page of workbook
# as a csv file. Seems to work.

in_schools_df = pd.read_csv(path_in_schools)
print(in_schools_df)

                                Student Demographic  Cohort Count*  Graduates  \
0                                   American Indian           200        159
1                                             Asian         1,877      1,652
2                                             Black         9,615      7,487
3                                          Hispanic         7,682      6,397
4                                       Multiracial         3,203      2,695
5         Native Hawaiian or Other Pacific Islander            54         45
6                                             White        59,223     52,931
7                                        Paid Meals        49,992     47,237
8                          Free/Reduced Price Meals        28,473     23,662
9                                 General Education        70,604     64,525
10                                Special Education         9,472      6,793
11                     Non-English Language Learner        78,535     70,382
12                         English Language Learner         1,541        936
13                                           Female        41,040     36,413
14                                             Male        40,814     34,953
15                                              NaN            NaN        NaN
16                                              NaN            NaN        NaN
17                               School Demographic  Cohort Count*  Graduates
18                                           Public        77,061     66,988
19                                       Non-Public         4,793      4,378
20                                            Total        81,854     71,366
21                                              NaN            NaN        NaN
22  *Totals may not match due to "Unknown" students            NaN        NaN

    2017 Graduation Rate  Unnamed: 4
0                 79.50%         NaN
1                 88.01%         NaN
2                 77.89%         NaN
3                 83.29%         NaN
4                 84.14%         NaN
5                 83.33%         NaN
6                 89.38%         NaN
7                 94.49%         NaN
8                 83.10%         NaN
9                 91.39%         NaN
10                71.72%         NaN
11                89.62%         NaN
12                60.74%         NaN
13                88.73%         NaN
14                85.64%         NaN
15                   NaN         NaN
16                   NaN         NaN
17  2017 Graduation Rate         NaN
18                86.93%         NaN
19                91.34%         NaN
20                87.19%         NaN
21                   NaN         NaN
22                   NaN         NaN