In [1]:
# Indiana School Corporation Grades vs. Graducation Rates

In [2]:
# Import dependancies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress

In [4]:
# Read in school grade files for each year
schoolgrade2015 = pd.read_csv('Resources/schoolgrade2015_revised.csv')
schoolgrade2016 = pd.read_csv('Resources/schoolgrade2016_revised.csv')
schoolgrade2017 = pd.read_csv('Resources/schoolgrade2017_revised.csv')
schoolgrade2018 = pd.read_csv('Resources/schoolgrade2018_revised.csv')
schoolgrade2019 = pd.read_csv('Resources/schoolgrade2019_revised.csv')
schoolgrade2015.head()

     15          Adams Central Community Schools  C
0  5265  Alexandria Community School Corporation  C
1  5275    Anderson Community School Corporation  D
2  5470                  Argos Community Schools  B
3  2435   Attica Consolidated School Corporation  D
4  3315        Avon Community School Corporation  A

In [5]:
# Read in school grade files for each year
gradrate2015 = pd.read_csv('Resources/2015_grad_rates_revised.csv')
gradrate2016 = pd.read_csv('Resources/2016_grad_rates_revised.csv')
gradrate2017 = pd.read_csv('Resources/2017_grad_rates_revised.csv')
gradrate2018 = pd.read_csv('Resources/2018_grad_rates_revised.csv')
gradrate2019 = pd.read_csv('Resources/2019_grad_rates_revised.csv')
gradrate2015.head()

,Corp Id,CORPORATION NAME,Cohort N,Grad N,State Grad Rate,Non-Waiver Grad N,State Non-Waiver Grad Rate
0,15,Adams Central Community Schools,95,90,94.70%,87,91.60%
1,5265,Alexandria Community School Corporation,112,98,87.50%,97,86.60%
2,5275,Anderson Community School Corporation,394,353,89.60%,277,70.30%
3,5470,Argos Community Schools,46,34,73.90%,34,73.90%
4,2435,Attica Consolidated School Corporation,68,67,98.50%,64,94.10%